@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Open Sans';
}

body {
  background-color: #f4f4f4;
  color: rgb(201, 209, 217);
  min-height: 100%;
  margin: 0;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 390px;
}
